.post-comment-container {

    .post-info-wrapper {
        padding: $grid8x 0 $grid8x;
        border-bottom: 1px solid $texteee;

        // comment info
        .post-like-title,
        .post-comment-title {
            color: $text999;

            .post-like-count,
            .post-comment-count {
                color: $text333;
                font-weight: 900;

                &::before,
                &::after {
                    color: $text999;
                    font-weight: 400;
                }

                &::before {
                    content: " ";
                }
            }
        }


        .post-edit-remove {
            float: right;
            cursor: pointer;
            font-weight: 900;
            display: inline-block;
            
            .post-end,
            .post-edit {
                
                &::after {
                    content: " | ";
                    color: $text999;
                    font-weight: 400;
                }
            }
        }

        // comment wrapper
        .post-comment-comment-container {
            margin-top: $grid4x;
            padding: $grid $grid2x;
            background-color: $textf9;
            @include border-radius();

            @media #{$pablet} {
                padding: $grid;
            }


            // comment - see more
            .post-comment-see-more {
                width: 100%;
                padding: $grid4x;

                .post-comment-see-more-btn {
                    color: $brand;
                    cursor: pointer;
                    width: $grid40x;
                    height: $grid10x;
                    margin: $grid2x 0;
                    display: inline-block;
                    border: 1px solid $brand;
                    background-color: transparent;
                    @include border-radius();
                    @include button-pressed();
                    @include font-size($grid3x + ($grid / 2));
                    @include transition(background-color .25s ease);

                    &:hover {
                        background-color: white;
                    }
                }
            }
            

            // comment each body
            .post-comment-comment-wrapper {
                padding: $grid6x $grid4x;
    
                &:not(:first-child) {
                    padding-top: 0;
                }
    
                .post-comment-thumbnail {
                    width: $grid10x;
                    height: $grid10x;
                    margin-right: $grid4x;
                    display: inline-block;
                    background-color: white;
                    @include border-radius($grid10x);
                }
    
                .post-comment-box {
                    vertical-align: top;
                    display: inline-block;
    
                    .post-comment-username {
                        font-weight: 900;
                        margin-right: calc(#{$grid} / 2);
                    }
    
                    .post-comment-reply-info,
                    .post-comment-comment-info {
                        display: block;
                        color: $text999;
                        margin-bottom: $grid;
                        @include font-size($grid4x - ($grid / 2));
    
                        .post-comment-timestamp {
                            
                            &::after {
                                content: " 전 ㆍ ";
                            }
                        }
        

                        .post-reply-liked-count,
                        .post-comment-liked-count {
                            cursor: pointer;
                            color: $text999;

                            &.liked {
                                color: $brand !important;
    
                                &:hover {
                                    color: $brand-hover !important;
                                }
                            }
                            
                            &::before {
                                content: "좋아요 ";
                            }

                            &:hover {
                                color: $text333;
                            }
                        }


                        .post-comment-see-reply {
                            color: $text999;
                            cursor: pointer;
                            
                            &::before {
                                content: " ㆍ ";
                                color: $text999 !important;
                            }
                            
                            &::after {
                                content: "답글달기";
                            }

                            &:hover {
                                color: $text333;
                            }
                        }
                    }

                    .post-comment-show-reply {
                        color: $text999;
                        cursor: pointer;
                        text-decoration: underline;
                        @include transition(color .25s ease);
                        @include font-size($grid4x - ($grid / 2));
                            
                        &::after {
                            content: "개의 답글 더 보기";
                        }

                        &:hover {
                            color: $text333;
                        }
                    }


                    // comment reply
                    .post-reply-thumbnail {
                        width: $grid8x;
                        height: $grid8x;
                        display: inline-block;
                        background-color: white;
                        margin: $grid6x $grid2x 0 0;
                        @include border-radius($grid8x);
                    }

                    .post-comment-reply {
                        display: inline-block;
                        vertical-align: baseline;
    
                        .post-reply-username {
                            font-weight: 900;
                            margin-right: calc(#{$grid} / 2);
                        }
    
                        .post-comment-reply-info {
                            display: block;
                            color: $text999;
                            margin-top: calc(-(#{$grid} / 4));
                            @include font-size($grid3x + ($grid / 2));
        
                            .post-reply-timestamp {
                                
                                &::after {
                                    content: " 전 ㆍ ";
                                }
                            }
                        }
                    }
                }
            }
            
            .post-comment-textarea-wrapper {
                padding: $grid4x;
                position:relative;

                .post-comment-textarea,
                .post-comment-textarea-btn {
                    border: none;
                    outline: none;
                    height: $grid20x;

                    @media #{$tablet} {
                        height: $grid16x;
                    }

                    @media #{$mobile} {
                        height: $grid14x;
                    }

                    @media #{$ie} {
                        overflow-y: hidden !important;
                    }

                    @supports (-ms-ime-align:auto) {
                        overflow-y: hidden !important;
                    }
                }

                .post-comment-textarea {
                    width: 100%;
                    resize: none;
                    padding: $grid4x;
                    position: relative;
                    border: 1px solid $texteee;
                    padding-right: calc(
                        #{$grid20x} + #{$grid});
                    @include border-radius();
                    @include render-hack(width);
                    @include line-height($grid4x);
                    @include transform(translateZ(0));

                    @media #{$ie} {
                        overflow-y: hidden !important;
                    }

                    @supports (-ms-ime-align:auto) {
                        overflow-y: hidden !important;
                    }

                    @media #{$mobile} {
                        padding-right: calc(
                            #{$grid16x} + #{$grid}
                        );
                    }
                }

                .post-comment-textarea-btn {
                    right: 0;
                    z-index: 1;
                    color: white;
                    width: $grid20x;
                    cursor: pointer;
                    font-weight: 900;
                    position: absolute;
                    margin-right: $grid4x;
                    background-color: $brand;
                    @include button-pressed();
                    @include border-radius(0 $grid2x $grid2x 0);
                    @include transition(background-color .25s ease);

                    &:hover {
                        background-color: $brand-hover;
                    }
                    
                    &::after {
                        content: "등록";
                    }

                    @media #{$mobile} {
                        width: $grid14x;
                    }
                }
            }
        }
    }
}


.post-like-title {
    cursor: pointer;

    &.post-liked {
        color: $brand !important;
        font-weight: 900;

        .post-like-count {
            color: $brand !important;
        }
    }
    
    &::before {
        content: "좋아요 " !important;
    }

    &:hover {
        text-decoration: underline;
    }
}

.post-comment-title {
    
    &::before {
        content: " ㆍ 댓글 " !important;
    }
}