.dashboard-card-activity {

    .new-admin-count {
        @include dashboard-subspan();

        &:after {
            content: "최근 우리아파트 타이트 유저들의 활동입니다";
        }
    }

    .dashboard-activity-wrapper {
        cursor: default !important;

        .dashboard-activity-item {
            padding-top: $grid;
            padding: $grid $grid4x $grid2x;
            border: 1px solid $texteee;
            @include border-radius();
            @include transition(background-color .5s ease);

            &:hover {
                background-color: $textfa;
                @include transition(background-color .1s ease);
            }

            &:not(:first-child) {
                margin-top: $grid2x;
            }

            .material-icons {
                color: $text999;
                margin-right: $grid2x;
                @include transform(translateY(25%));
            }

            .dashboard-activity-count {
                color: $brand;
                font-weight: 900;
                margin-left: $grid;

                &::after {
                    content: "개";
                }

                &.new-users {

                    &::after {
                        content: "명";
                    }
                }
            }

            &.dashboard-item-each {
                padding-top: $grid4x;
                padding-bottom: $grid4x;

                .dashboard-card-item-atitle,
                .dashboard-card-item-span {
                    cursor: default !important;
                }
                
                // overflow -> ellipsis
                $line-height: 1.6;
                $lines-to-show: 5;
                $noti-font-size: $grid4x - ($grid / 2);

                .dashboard-card-item-span {
                    color: $text777;
                    -moz-line-clamp: $lines-to-show !important;
                    -webkit-line-clamp: $lines-to-show !important;
                    height: calc(
                        #{$line-height} * #{$lines-to-show} * #{$noti-font-size}) !important;
                    @include selection();
                    @include text-overflow();
                    @include font-size($noti-font-size);
                    @include line-height($noti-font-size);
                }
            }
        }
    }
}
