#main {
    
    .main-header {
        top: 0;
        z-index: 15;
        width: 100%;
        height: $grid16x;
        position: fixed;
        background-color: white;
        border-bottom: 1px solid $texteee;
        @include box-shadow();
        @include render-hack(width);
        @include box-sizing(border-box);
        @include transform(translateZ(0));

        .main-header-logo {
            width: $grid10x;
            height: $grid10x;
            margin: $grid3x $grid4x $grid3x $grid8x;
            @include transition(margin-left .5s ease);
            
            @media #{$landsc} {
                margin-left: 0 !important;
            }
            
            @media #{$pablet} {
                margin-left: -($grid2x) !important;
            }

            // prevent refresh animation ie
            @media #{$ie} {
                @include transition(margin-left 0s ease);
            }

            // prevent refresh animation edge
            @supports (-ms-ime-align:auto) {
                @include transition(margin-left 0s ease);
            }
        }


        .hamburger {
            display: none;

            i {
                top: 50%;
                margin: 0 auto;
                color: $text333;
                position: relative;
                display: inline-block;
                @include transform(translateY(-50%));
            }

            @media #{$landsc} {
                cursor: pointer;
                width: $grid12x;
                height: $grid12x;
                margin-left: $grid4x;
                display: inline-block;
                @include transform(translateY(-68%));
            }

            @media #{$pablet} {
                height: $grid8x;
                margin-left: $grid4x;
            }
        }

        .main-header-link {

            @media #{$landsc} {
                margin-left: -($grid) !important;
            }

            .main-header-apt-name-box {
                width: 50%;
                color: $text333;
                min-width: $grid50x;
                display: inline-block;
                @include overflow();
                @include render-hack(width);
                @include transform(translateY(-100%));

                @media #{$chrome} {
                    @include transform(translateY(-75%));
                }

                @media #{$firefox} {
                    @include transform(translateY(-75%));
                }

                @media #{$ie} {
                    @include transform(translateY(-75%));
                }

                @supports (-ms-ime-align:auto) {
                    @include transform(translateY(-75%));
                }
            }
            
            .main-header-apt-name {
                font-weight: 900;
                @include font-size($grid4x);
            }
        }
    }
}
