.board-wrapper {
    
    .list-board-plain {
        width: 100%;
        margin: $grid 0;
        height: $grid12x;
        padding: 0 $grid4x;
        @include selection();
        @include render-hack(width);
        @include box-sizing(border-box);
        @include border-radius($grid2x);
        @include transform(translateZ(0));
        // background-color: powderblue;

        &:nth-of-type(odd) {
            background-color: #fafafa;
        }

        &.header {
            height: $grid12x;

            span {
                font-weight: 900;
                cursor: default !important;
                color: $text999 !important;
            }

            .list-numbering-wrapper {
                @include transform(translateY(-50%));
            }

            .list-board-text {

                &:hover {
                    text-decoration: none !important;
                }
            }
        }


        .list-numbering-wrapper {
            // background-color: lightseagreen;
            height: 100%;
            width: $grid10x;
            margin-right: $grid2x;
            @include center-text();
            @include render-hack(width);

            @media #{$chrome} {
                top: -10% !important;
            }

            @media #{$firefox} {
                top: -10% !important;
            }

            @media #{$ie} {
                top: -10% !important;
            }

            @supports (-ms-ime-align:auto) {
                top: -10% !important;
            }

            .list-numbering {
                color: $brand;
                @include center-text();

                // &::after {
                //     content: counter(content);
                //     counter-increment: content -1;
                // }
            }
        }



        .list-board-text-wrapper {
            // background-color: royalblue;
            width: 73%;
            height: 100%;
            margin-right: $grid3x;
            @include overflow();

            .dashboard-new-oval {
                width: $grid2x;
                height: $grid2x;
                margin-left: $grid;
                display: inline-block;
                margin-bottom: $grid2x;
                background-color: $noti;
                @include border-radius($grid4x);
            }

            // TODO: 노가다코드 바꾸기
            // list length mqbp
            @media #{$wider}   { width: 70%; }
            @media #{$wide}    { width: 63%; }
            @media #{$ipad}    { width: 61%; }
            @media #{$desktop} { width: 51%; }
            @media #{$dt}      { width: 41%; }
            @media #{$tablet}  { width: 60%; }
            @media #{$landsc}  { width: 44%; }
            @media #{$middle}  { width: 60%; }
            @media #{$pablet}  { width: 51%; }
            @media #{$mobile}  { width: 42%; }
            @media #{$mini}    { width: 37%; }


            .list-board-text {
                color: $text333;
                cursor: pointer;
                @include overflow();
                @include center-text();
                display: block;
    
                &:hover {
                    text-decoration: underline;
                }
            }
        }


        .list-board-view-count,
        .list-board-time {
            right: 0;
            float: right;
            height: 100%;
            color: $text999;
            position: relative;
            display: inline-block;
        }

        .list-board-time {
            // background-color: sandybrown;
            width: $grid24x;
            color: $text333;
            margin-right: $grid2x;

            span {
                @include center-text();
            }

            // TODO: 노가다코드 바꾸기
            // list display mqbp
            @media #{$tablet} {
                display: none;
            }

            @media #{$landsc} {
                display: inline-block;
            }

            @media #{$middle} {
                display: none;
            }
        }

        .list-board-view-count {
            // background-color: salmon;
            width: $grid16x;
            text-align: right;
            
            span {
                @include center-text();
            }
        }
    }
}
